// Colors
$color-cyan: hsl(177, 68%, 64%);
$color-orange: hsl(12, 94%, 65%);
$color-yellow: hsl(33, 100%, 70%);
$color-white: hsl(20, 33%, 98%);
$color-slate: hsl(244, 23%, 12%);

// Font family
$font-primary: "IBM Plex Sans", sans-serif;

// Line heights
$line-height-tight: 110%;
$line-height-normal: 150%;
$line-height-relaxed: 180%;

// Font weights
$font-bold: 700;

// Font sizes
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 40px;
$font-size-3xl: 64px;
$font-size-4xl: 88px;

// Spacing
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 20px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-2xl: 40px;
$spacing-3xl: 48px;
$spacing-4xl: 56px;
$spacing-5xl: 64px;
$spacing-6xl: 80px;
$spacing-7xl: 128px;
$spacing-8xl: 200px;