@use '../utils/variables' as *;
@use '../utils/mixins' as m;

.content {
    position: relative;
    height: 62.8125rem; // 1005px
    width: 23.4375rem; // 375px
    margin: $spacing-7xl 0 0 0;
    background: $color-slate;

    &__phone {
        @include m.absolute(calc($spacing-7xl  * -1), null, null, null);
        left: 50%;
        display: inline-block;
        height: 26.875rem; // 430px
        width: 13.0606rem; // 208.97px
        transform: translateX(-50%);
        z-index: 2;
    }

    &__bg {
        @include m.absolute(0, null, null, null);
        @include m.center-x();
    }
    
    &__card {
        @include m.absolute(null, null, 0, 0);
    }
}