@use '../utils/variables' as *;
@use '../utils/mixins' as m;

.header {
    padding: $spacing-5xl $spacing-md;
    position: relative;
    overflow: hidden;

    &__pattern {
        display: none;
    }

    &__bg-image {
        position: absolute;
        top: -6rem;
        right: -6rem;
        height: 40.938rem;
        width: 24rem;
    }

    &__logo {
        @include m.sized-inline(auto, auto);
        margin-bottom: $spacing-5xl;
    }

    &__title {
        width: 20.938rem;
        margin-bottom: $spacing-2xl;
        @include m.text($font-size-2xl, $line-height-base, $font-bold, $color-slate);
        letter-spacing: -0.063rem;
    }

    &__description {
        @include m.text($font-size-base, $line-height-normal, null, $color-slate);
        width: 20.938rem;
    }
}